<!--
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
    _MAIN (component)
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/steel-properties/steel-classes.html">

<dom-module id="component-main">

    <style>
    :host {
        display: block;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
    }
    </style>

    <template>
        <content></content>
    </template>


</dom-module>


<script>
    Polymer({

        is: 'component-main'

    });
</script>
